<body>
  <div class='todo-app'>
    <h1 class='todo-app__title'>Todo List</h1>
    <div class='todo-app__input-section'>
      <input
        type='text'
        class='todo-app__input'
        id='todo-input'
        placeholder='Введіть задачу...'
      />
      <button
        class='todo-app__add-button'
        id='add-button'
      >Додати</button>
    </div>
    <ul class='todo-app__list' id='todo-list'></ul>
  </div>
  <button class='scroll-to-top' title='Scroll to Top'>
    <span class='scroll-to-top__arrow-icon'></span>
  </button>
</body>