{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
  <main id='main'>
    <div id='section1'>
      <h2>Section 1</h2>
    </div>
    <div id='section2'>
      <h2>Section 2</h2>
    </div>
    <div id='section3'>
      <h2>Section 3</h2>
    </div>
    <div id='section3'>
      <h2>Section 3</h2>
    </div>
    <div id='section3'>
      <h2>Section 3</h2>
    </div>
    <div id='section3'>
      <h2>Section 3</h2>
    </div>
    <div id='section3'>
      <h2>Section 3</h2>
    </div>
    <div id='section3'>
      <h2>Section 3</h2>
    </div>
    <div class='scrollButton'>
      <button
        class='scroll-to-top'
        id='scrollToTopBtn'
        title='Go to top'
      > </button>
      <script src='scripts.js'></script>
    </div>
  </main>
</main>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}