{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
  <header id='header'>
    <h1>This is the Header</h1>
  </header>
  <main id='main'>

    <div id='section1'>
      <h2>Section 1</h2>
    </div>
    <div id='section2'>
      <h2>Section 2</h2>
    </div>
    <div id='section3'>
      <h2>Section 3</h2>
    </div>
    <div id='section3'>
      <h2>Section 3</h2>
    </div>
    <div id='section3'>
      <h2>Section 3</h2>
    </div>
    <div id='section3'>
      <h2>Section 3</h2>
    </div>
    <div id='section3'>
      <h2>Section 3</h2>
    </div>
    <div id='section3'>
      <h2>Section 3</h2>
    </div>
      {{> scrollToTopBtn}}
  </main>
  <footer id='footer'>
    <p>This is the Footer</p>
  </footer>
</main>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}
